Edtech_workflow/Edtech.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "36009f38-4f32-4bac-9271-5b9f6a9052d3",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "2VTUbRmW6HWzqq2m",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const emailBody = $json.body || $json.snippet || '';\nconst emailSubject = $json.subject || 'No Subject';\nconst emailFrom = $json.from || 'unknown@email.com';\nconst emailId = $json.id || 'unknown';\n\nreturn {\n  email_id: $input.first().json.To,\n  subject: $input.first().json.Subject,\n  body:$input.first().json.snippet ,\n  from_email:$input.first().json.From ,\n  contact_count: 1\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "9d39dea0-50b9-493b-a503-884ba9b7a8b3",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://leadier-floy-conchoidal.ngrok-free.dev/webhook/process-email",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"email_id\": \"{{ $json.from_email }}\",\n  \"subject\": \"{{ $json.subject }}\",\n  \"body\": \"{{ $json.body }}\",\n  \"contact_count\":{{ $json.contact_count }}\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        416,
        0
      ],
      "id": "1d19353e-cfae-4b51-8f1b-cc3b9a44c956",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a5591325-caaf-4d5d-bb35-ccea9aba2fdf",
              "leftValue": "={{$node['HTTP Request'].json.escalate}}",
              "rightValue": "=true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        608,
        0
      ],
      "id": "d0ec35c7-76c3-4193-a2e8-410a0cd61b62",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email_id }}",
        "subject": "=Re: {{$json.subject}}",
        "message": "={{ $json.draft_reply }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        816,
        160
      ],
      "id": "f27a0258-1a3a-4fad-84f6-8506a30fdd28",
      "name": "Send a message",
      "webhookId": "d85eef54-79d9-4fc7-977a-bb81c9caca20",
      "credentials": {
        "gmailOAuth2": {
          "id": "2VTUbRmW6HWzqq2m",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "pushparanib7@gmail.com",
        "subject": "={{ $('Code in JavaScript').item.json.subject }}",
        "message": "=<h3>🚨 ESCALATION ALERT</h3>  <p><strong>Time:</strong> {{$json.processed_at}}</p>  <h4>Classification</h4> <ul>   <li><strong>Category:</strong> {{$json.category}}</li>   <li><strong>Urgency:</strong> {{$json.urgency}}</li>   <li><strong>Sentiment:</strong> {{$json.sentiment}}</li> </ul>  <h4>Escalation Details</h4> <p><strong>Reason:</strong> {{$json.escalation_reason}}</p> <p><strong>Priority:</strong> {{$json.escalation_priority}}</p>  <hr />  <p><strong>ACTION REQUIRED:</strong><br/> Please review and respond to the customer.</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        816,
        -16
      ],
      "id": "f807b91e-59fb-4de7-ac92-f7840e0f00db",
      "name": "Send a message2",
      "webhookId": "fa0021da-2f55-4088-8f1a-6ab3d7fee173",
      "credentials": {
        "gmailOAuth2": {
          "id": "2VTUbRmW6HWzqq2m",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "00dd6f4d-e1f0-4f89-b425-4ec90b47fa68",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "05e38ffe95f9313694ca1d84bf08b141069bf6e715533032d222d63bef92aacd"
  },
  "id": "KRwzIe8TCzKcWmOS",
  "tags": []
}